body {
  background-color: rgb(220, 207, 236);
  margin: 10px;
  padding: 10px;
}

.nav_bar {
  background-color: rgb(169, 151, 223);
  cursor: crosshair;
  font-size: x-large;
}

nav a:hover,
nav a:active {
  color: rgb(255, 255, 255);
}

article {
  padding: 50px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-right: 30%;
  margin-left: 40px;
  background-color: rgb(255, 255, 255);
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-left: 10px;
  padding-bottom: 5%;
  word-wrap: normal;
}

.galleria {
  text-align: center;
}

aside {
  width: 300px;
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: -36%;
  float: right;
  position: static;
  background-color: rgb(255, 255, 255);
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.rubrik {
  background-color: rgb(130, 74, 130);
  padding: 10px;
  margin-bottom: 15px;
}

.rubrik1 {
  background-color: rgb(130, 74, 130);
  margin-top: -30px;
  padding: 10px;
}

footer p {
  background-color: rgb(169, 151, 223);
  text-align: center;
}


/* Style for the contact-form down below*/
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: rgb(169, 151, 223);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.answer {
  margin-top: 30px;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: rgb(130, 74, 130);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 60%;
}
